#app_name {
	margin-left: 24px;
	font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
	.nav-wrapper {
		text-align: center;
	}
	#app_name {
		margin: 0 60px 0 0;
		font-size: 1.2rem;
	}
}
.already-registered,
.not-registered {
	position: relative;
	display: inline-block;
	padding: 0.1em 0.3em;
	color: #2bbbad;
	transition: 0.3s;
}
.already-registered::after,
.not-registered::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #2bbbad;
	content: "";
	transition: 0.3s;
}
.already-registered:hover::after,
.not-registered:hover::after {
	width: 100%;
}
.session-success-msg {
	padding: 16px;
	border-radius: 4px;
	background-color: #c8e6c9;
	color: #1b5e20;
}
.card.horizontal .card-image img {
	top: 50%;
	left: 50%;
	margin: 0 8px;
	width: 100px;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}
.card-content p {
	word-break: break-all;
}
.card-action span {
	position: absolute;
	right: 0;
	margin-right: 24px;
}
@media only screen and (max-width: 600px) {
	.card.horizontal .card-image img {
		top: 30%;
		margin: 0 8px;
		width: 48px;
	}
	.card-action a {
		display: block;
	}
	.card-action span {
		position: relative;
		display: block;
		margin-right: 0;
	}
}
.profile .profile__content {
	text-align: center;
}
.card .card-content {
	position: relative;
}
.card .card-content .btn-like {
	position: absolute;
	right: 24px;
	bottom: 0px;
}
@media screen and (max-width: 600px) {
	.card .card-content .btn-like {
		bottom: -88px;
	}
}

.btn-style-reset {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}
.btn-style-reset:focus {
	background-color: #fff;
}
.modal .modal-footer button {
	margin-left: 16px;
	color: #f44336;
}
.btn-logout {
	transition: background-color 0.3s;
	font-size: 1rem;
	color: #fff;
	display: block;
	padding: 0 15px;
	cursor: pointer;
	line-height: 64px;
	-webkit-transition: background-color 0.3s;
}
@media screen and (max-width: 600px) {
	.btn-logout {
		color: rgba(0, 0, 0, 0.87);
		padding: 0 32px;
		line-height: 48px;
	}
}
