#app_name {
	font-size: 1.5rem;
	margin-left: 24px;
}
@media only screen and (max-width: 600px) {
	.nav-wrapper {
		text-align: center;
	}
	#app_name {
		font-size: 1.2rem;
		margin: 0 60px 0 0;
	}
}
